[submodule "src/volcanoCoin/lib/forge-std"]
	path = src/volcanoCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/nftVolcanoCoin/lib/forge-std"]
	path = src/nftVolcanoCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/nftVolcanoCoin/lib/openzeppelin-contracts"]
	path = src/nftVolcanoCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
